version: "3"
services:
  api:
    container_name: api
    image: ts-restserver
    depends_on: 
      - postgres
    build: .
    ports:
       - "8000:5000"
    links:
       - postgres  
    environment:
       - PSQL_HOST=postgres
    volumes:
       - .:/usr/src/app
  postgres:
    container_name: postgresdb
    image: postgres:9.6
    environment: 
       - POSTGRES_DB=postgres_db
       - POSTGRES_USER=admin_db
       - POSTGRES_PASSWORD=admin_12345678
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - 5432:5432

volumes:
  postgres-data:
    external: false